/* CSS HEX */
:root {
    --yale-blue: #0d3b66ff;
    --bittersweet: #fe5f55ff;
    --silver: #E3E2DE;
    --white: #fefdffff;
    --azure-web: #eefafcff;
    --black: #051524;
    --silverNight: #b8b6b1;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
}
h2{
    font-weight: bold;
    font-size: x-large;
    font-variant: small-caps;
    color: var(--yale-blue);
    
}
/* ---------------------------- */
/* Configuration for header bar */
/* ---------------------------- */
header{
    display: flex;
    justify-content: space-between;

    background-color:var(--silver);
    color: var(--yale-blue);
    align-items:center;
    height: 10vh;
    width: 100vw;
    position: fixed;
}
#presentation{
    padding: 3%;
}
nav{
    padding: 3%;
}
.link{
    padding: 13px;
    margin: 5px;
    color: var(--white);
    background-color:var(--yale-blue);
    border-radius: 20%;
    font-weight: bold   ;
}

h1{
    font-size: 26pt;
    color: var(--bittersweet)   ;
}
#presentation h2{
    font-size: large;
    
}
h3{
    font-size: larger;
    color: var(--bittersweet);
}

body{
    width: 100vw;
}

nav{
    display: flex;
    flex-wrap: wrap;
}

/* --------------------------------- */
/* Configuration of About Me Section */
/* --------------------------------- */
/* Define the background */
#profile{
    background: linear-gradient(110deg, var(--yale-blue) 42%, var(--black) 42%, var(--black) 43%, var(--bittersweet) 43%);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuration of the left side of the card */
#bio{
    width: 20%;
    min-width: 300px;
    height: 50%;
}
#me{
    background-color: var(--white);
    width: 100%;
    height: 90%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#profilePhoto{
    width: 80%;
    border-radius: 50%;
    margin-bottom: 0%;
    margin-top: 0%;
}
#social{
    background-color: var(--black);
    width: 100%;
    height: 10%;
}

/* Configuration for the right side of the card */
#hello{
    width: 20%;
    min-width: 300px;
    height: 50%;
    background-color: var(--silver);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-justify:auto;
    
}
#hello h2{
    font-size: 4em;
    margin: 3%;
}

#hello p{
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    text-align: justify;
    text-justify: distribute-all-lines;
}

.title{
    font-size: 1.5em;
    font-weight: bolder;
}


/* ---------------------- */
/* My experience section */
/* ---------------------- */
#experience{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--azure-web);
}

#experience .location{
    font-weight: bold;
    color: var(--yale-blue);
}
#experience .period{
    font-weight: bold;
    color: var(--yale-blue);
    font-size: small;
}
/* Definition of jof description item list */
.experience{
    display: none;
    margin: 2%;
    text-align: justify;
    list-style: square;
    color: var(--black);
}
/* Configuration to have job descriptions on the right or the left according to the class given */
.jobRight{
    width: 30%;
    min-width: 350px;
    margin-left: 33%;
    padding-top: 2%;
}
.jobLeft{
    width: 30%;
    min-width: 350px;
    margin-right: 33%;
    padding-top: 2%;
    text-align: right;

}
/* Code defining the trick for hiding and showing the job descriptions using CSS and checkBox elements */
.extend{
    font-size: small;
    font-weight: bolder;
    color: var(--silverNight);

}
input:checked + .experience { display: block; }


/* ---------------------- */
/* My education section */
/* ---------------------- */

#education{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    background-color: var(--yale-blue);
}
#education h2{
    color: var(--white);
    margin-bottom: 1em;
}
.card{
    background-color: var(--silver);
    color: var(--black);
    box-shadow: 0 15px 25px var(--black);
    border-radius: 5px;
    width: 40%;
    min-width: 600px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;

}
.card h3{
    color: var(--bittersweet);
    margin-bottom: 1%;
    width: 100%;

}
#education .location{
    text-align: center;
    font-weight: bold;
    color: var(--yale-blue);
}
#education .period{
    font-weight: bold;
    color: var(--yale-blue);
    font-size: small;
}
.logo {
    margin: 4%;
    width: 60%;
}
.leftCard{
    padding: 2%;
    display: flex;
    justify-content: baseline;
    align-items:center;
    flex-direction: column;
    width: 30%;
    text-align: center;
}
.rightCard{
    padding: 2%;
    display: flex;
    justify-content:center;
    align-items:baseline;
    flex-direction: column;
    width: 60%;
    border-left-color: var(--silverNight);
    border-left-style: solid;
    text-align:justify ;
}
#courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#courses .logo{
    width: 10%;
    min-width: 30px;
}
#courses .leftCard{
    width: 25%;
    min-width: 150px;
}
.details{
    display: none;
    padding: 2%;
    width: 60%;
    color: var(--black);
    
    
}
.details p{
    width: 100%;
}

.courseCheck:checked + .details { display: flex;
justify-content: center;
flex-direction: column;
align-items: center; }

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}

.pie {
    --p:8;
    --b:7px;
    --c:--bittersweet;
    --w:60px;
    margin: auto;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
}
.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.pie:before {
    inset: 0;
    background:
    radial-gradient(farthest-side,var(--yale-blue) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--yale-blue) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--yale-blue);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
    animation: p 1s .5s both;
}
.no-round:before {
    background-size: 0 0, auto;
}
.no-round:after {
    content: none;
}
@keyframes p{
    from{--p:0}
}


#contact{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    background: linear-gradient(0deg, var(--yale-blue) 42%, var(--black) 42%, var(--black) 43%, var(--bittersweet) 43%);
    height: 100vh;

}


input[type=text] {
    border: none;
    border-bottom: 2px solid var(--bittersweet);
    border-radius: 4px;
    padding: 10px;
    background: none;
}

#contact input[type=submit] {
    margin-top: 5%;
}

#contact label{
    padding-top: 2%;
    font-weight: bold;
}



#messageCard{
    background-color: var(--silver);
    color: var(--black);
    box-shadow: 0 15px 25px var(--black);
    border-radius: 5px;
    width: 40%;
    min-width: 500px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;

}


@media screen and (max-width: 720px) {
    nav{
        display: none;
    }
    h1{
        font-size: 16pt;
    }
    #presentation h2{
        font-size: small;
        
    }

    #profile{
        display: flex;
        flex-direction: column;
    }
    #bio{
        width: 90%;
        height: 30%;
    }
    
    #profilePhoto{
        width: 30%;

    }


    
    #hello{
        width: 90%;
        height: 40%;
    }
    #hello h2{
        font-size: 2em;
        margin: 1.5%;
    }

    #hello p{
        margin: 1em;
    }




    .jobRight{
        width: 80%;
        min-width: 0px;
        margin: 0%;
        padding-bottom: 3%;
    }

    .jobLeft{
        width: 80%;
        min-width: 0px;
        margin: 0%;
        text-align: left;
        padding-bottom: 3%;
        
    }
    .experience li{ 
        font-size: smaller;
    }





    .card{
        width: 80%;
        min-width: 0%;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .leftCard{
        width: 80%;
    }
    .rightCard{
        width: 80%;
    }
    .logo {
        width: 30%;
    }
    .details{
        width: 110%;

        
    }



    #messageCard{
        width: 80%;
        min-width: 0%;
        padding-top: 6%;
        padding-bottom: 6%;
    }
}